*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    
}

:root{
--lgreycolor: hsl(0, 0%, 95%);
--twhitecolor: hsla(0, 0%, 100%, 0.75);
--borangecolor: hsl(31, 77%, 52%);
--dcyancolor:hsl(184, 100%, 22%);
--vdcyancolor:hsl(179, 100%, 13%);
--bodycopy: 15px;
--smallfont: "Lexend Deca", sans-serif;
--largefont: "Big Shoulders Display", sans-serif;
--containermargin: 4rem;
--cardpadding: 50px;
--copypadding:30px;
--buttonpadding:20px;
--containerwidth: 800px;
--cardwidth: 280px;
--buttonmargin:45px;
--cardheight: 500px;
--buttonwidth: 150px;
--corners: 10px;

}
