.faq img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.footer .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  grid-template-rows: 1fr 1fr;
}
.quick-links {
  grid-column: 1/2;
  grid-row: 1/3;
}
.stores {
  justify-self: start;
  grid-column: 2/3;
  grid-row: 1/3;
}
.stores img {
  width: 25%;
}
.follow {
  justify-self: start;
  grid-column: 3/4;
  grid-row: 1/2;
}
.follow div {
  display: flex;
  justify-content: flex-start;
}
.email {
  justify-self: start;
  grid-column: 3/4;
  grid-row: 2/3;
}
.fab {
  color: var(--pri-c);
}

.selected {
  color: var(--pri-c);
}
.right {
  float: right;
}
.middle {
}
.content {
  padding: 25px 150px;
}
.ans {
  color: var(--sec-t);
}
.y-btn {
  color: var(--background);
  background-color: var(--pri-c);
}
button {
  border: none;
  border-radius: 20px;
  height: 3rem;
  width: 9rem;
}
.oth-btn {
  color: var(--pri-c);
  background-color: var(--background);
  border: 2px solid var(--pri-c);
}
.disclaimer .content {
  color: var(--sec-t);
}

.copyright .content {
  color: var(--sec-t);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  column-gap: 25px;
}
.copyright p {
  align-self: center;
  justify-self: center;
}

.copyright a {
  color: var(--sec-t);
  border-left: 1px solid var(--sec-t);
  align-self: center;
  justify-self: center;
}
