.item-text {
  color: var(--sec-c);
  padding: 20px 100px;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--pri-c);
}
.box img {
  width: 20vw;
}
.icons {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
}
.i-n-text {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  color: var(--sec-c);
}
i {
  color: var(--pri-c);
  text-align: center;
}
@media all and (max-width: 1102px) {
}

@media all and (max-width: 375px) {
}
