* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
  
}

.box {
  max-width: 100%;
  height: auto;  
  background-color: #fcfcfc98;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  
  
}

.makeup img {
  max-width: 100%;
  height: auto;
  margin-top: 0%;
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
    color: #089285;
    font-size: 1.188em;
    margin-top: .5em;
}

h2 {
    color: #089285;
    font-size: 1em;
}

a {
    color: #089285;
    text-decoration: none;
    font-size: 0.750em;
}


input  {
      height: 2.500em;
      width: 20.5em;
      top: 0.625em;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom: 0.063em solid #089285 ;
      background: transparent;
      font-family: 'Inter', sans-serif;
      font-size: 0.875em;
      color: #089285;
      font-weight: 400;
      
    }
  


#email {
    outline: none;
    margin-top: 1em;
}
  
#pass {
    outline: none;
}

.pass-forgot {
    margin-left: 12.5em;
    
}
@media screen and (max-width: 290px) {
    .pass-forgot {
        margin-left: 0;
}
}

button {
    background-color: #089285;
    color: #fcfcfc;
    width: 20.5em;
    border: none;
    text-align: center;
    border-radius: 2em;
    cursor: pointer;
    font-size: 0.875empx;
    padding: 0.313em;
    display: block;
    width: 100%;
}
button:hover {
    background-color: #065c53;
}

.button.login {
    margin-top: 5em;
}

.bottom {
    justify-content: space-between;
    margin-bottom: 3em;
}

.account {
    margin-left: 1em;
}

.register {
    margin-left: 7em;
}


/*for desktop view*/

@media (min-width: 960px) {
    
    .container {
        display: flex;
        flex-direction: row;
        
    }

    .box {
        background-color: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }
      
    .makeup img {
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index:999;
        float: right;
         
    }

    h1 {
        font-size: 2.313em;
    }
    h2 {
        font-size: 1.750em;
    }

    button {
        font-size: 1em;
        font-weight: 500;
    }

    input {
        font-size: 1em;
    }

    a {
        font-size: 0.875em;
    }


}