/* Style for the Fonts and Nav bar */

/* Varible Declaration */
:root {
  /* colors */
  --background: #fcfcfc;
  --pri-t: #180126;
  --sec-t: #b8b4b4;
  --pri-c: #089285;
  --sec-c: #f34213;
  --navb-c: #ebebeb;

  /* typography */
  --font: "Inter", sans-serif;

  /* Web Size */
  /* Big Title */
  --wh1: 37px;

  --wh2: 28px;
  --wh3: 21px;
  /* headings labels links buttons */
  --wh6: 16px;
  /* paragraph text subheadings */
  --wp: 16px;

  /* Mobile Size */
  /* Big Title */
  --mh1: 19px;
  --mh2: 14px;
  --mh3: 14px;
  --mh6: 8px;
  --mp: 8px;
  /* SOON TO COME  */
}

/*Styles*/
body {
  background: var(--background);
  font-family: var(--font);
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
section {
  width: 100%;
}

/* Nav Bar */

header {
  padding: 0em 2em;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f9f9f9;
  /* text-align: right; */
  justify-content: space-between;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
}
header li {
  float: left;
  list-style: none;
}
header a {
  padding: 2em;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #b8b4b4;
}
.home:hover {
  color: #089285;
}
.about:hover {
  color: #089285;
}
.faq:hover {
  color: #089285;
}
.blog:hover {
  color: #089285;
}
.contact:hover {
  color: #089285;
}
.register:hover {
  color: #089285;
}
.login:hover {
  color: #089285;
}

/* Logo */
.logo {
  position: relative;
  /* left: 5em; */
}

a {
  font-size: var(--wh6);
  text-decoration: none;
  color: #089285;
}
.g-a:hover {
  cursor: pointer;
  filter: invert(0) sepia(0) hue-rotate(0deg) saturate(1) brightness(0.6);
}
/* Copyright */
.copyright .copy-content {
  width: 100%;
  color: var(--sec-t);
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.copyright p {
  align-self: center;
  justify-self: center;
}

.copyright a {
  color: var(--sec-t);
  font-size: var(--wh6);
  font-weight: normal;
  border-left: 1px solid var(--sec-t);
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
}
.copyright a:hover {
  color: Black;
}

/* Mobile Nav off in this size */
nav {
  display: none;
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: var(--mh1);
    font-weight: normal;
  }
  h2 {
    font-size: var(--mh2);
    font-weight: normal;
  }
  h3 {
    font-size: var(--mh3);
    font-weight: normal;
  }
  h6 {
    font-size: var(--mh6);
    font-weight: bold;
  }
  p {
    font-size: var(--mp);
    font-weight: normal;
  }
  /* Header */
  header {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .topnav {
    width: 100%;
    overflow: hidden;

    position: relative;
  }
  .topnav #myLinks {
    display: none;
    border-bottom: #089285 solid 1px;
  }
  .topnav a {
    color: #089285;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: #089285;
  }
  .active {
    background-color: #04aa6d;
    color: white;
  }
  .logo {
    position: relative;
    /* left: 5cm; */
  }
  .navbar-mobile {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  /* Copyright */
  .copyright .copy-content {
    color: var(--sec-t);
    display: flex;
    justify-content: center;
    column-gap: 5px;
  }
  .copyright p {
    align-self: center;
    justify-self: center;
  }

  .copyright a {
    color: var(--sec-t);
    font-size: var(--mh6);
    font-weight: normal;
    border-left: 1px solid var(--sec-t);
    padding-left: 5px;
    padding-right: 5px;
    align-self: center;
  }
  .home-icon:hover {
    filter: invert(100%) url(#colorFilter);
  }
}

@media screen and (max-width: 440px) {
  body {
  }
}
