


* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    color: #fcfcfc;
    font-family: 'Inter', sans-serif;
}

header {
         display: none;
     }


nav {
    padding-top:0.625em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    
}
nav img {
    max-width:100%;
    height:auto;
}
.mobile-icons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0%;
    cursor: pointer;
}
.mobile-text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.625em;
  color: #b8b4b4;
  cursor: pointer;
}
#home-icon-position {
    position: relative;
    right:0.313em ;
}

#login-icon-position {
    position: relative;
}
#faq-icon-position{
    position: relative;
    right: 0.313em;
}

.home-icon:hover {
    color: #089285
}
.about-icon:hover {
    color: #089285
}
.faq-icon:hover {
    color: #089285
}
.contact-icon:hover {
    color: #089285
}
.login-icon:hover {
    color: #089285
}


.main {
    align-items: center;
    
}
.main img {
    max-width:100%;
    height:auto;
}

h1 {
    color: #f34213;
    font-size: 1.188em;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 0%;
    padding-left: .43em;
    cursor: default;
}

h2 {
    color: #f34213;
    font-size: 0.875em;
    font-weight: normal;
    margin-top: 0%;
    padding-left: .7em;
    cursor: default;
}

p {
    font-size: 0.875em;
    color: black;
    line-height: 1.250em;
    text-align: justify;
    padding: 1em;
    cursor: default;

}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    cursor: default;
}
.left li {
    color: black;
    list-style: none;
}

.right li {
    color: black;
    list-style: none;
    
}

li.bold { 
    font-weight: 500;
}


.amazon{
    position: relative;
    right: 1.063em;
}
.price-a {
    position: relative;
    right: 1em;
}
.ebay {
    position: relative;
    left: 1.563em;
}
.price-e {
    position: relative;
    left: 1em;
}

button {
    display: inline-block;
    position: relative;
	background-color:#089285;
	border-radius: 2em;
    border-style: none;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
	padding: 0.5em 3em;
    width: 100%;
	text-decoration:none;
}
button:hover {
	background-color:#065c53;
}
.btn1{
   margin-top: 1em;
   position: relative;
   right: 1em;
}
.btn2{
    margin-top: 1em;
    position: relative;
    left: 1em;

}


.icons {
    display: flex;
    justify-content: center;
    padding-top: 1.250em;
}
.like-icon {
    padding-left: 2.500em;
    padding-right: 2.500em;
}
.like-icon:hover {
    cursor: pointer;
}
  
.comment-icon:hover {
    cursor: pointer;
}
.share-icon {
    padding-left: 2.500em;
    padding-right: 2.500em;
}
.share-icon:hover {
    cursor: pointer;
}
.icons-text {
    display: flex;
    justify-content: center;
    padding: 0.313em;
    color: #f34213;
    font-size: 0.750em;
    margin-bottom: 0.313em;
    cursor: default;
}
.like {
    position: relative;
    right: 13px;
    padding: 0.313em;
}
.comment {
    position: relative;
    left: 0.125em;
    padding: 0.313em;
}
.share {
    position: relative;
    left: 15px;
    padding: 0.313em;
    
}


/*DESKTOP VIEW*/

@media (min-width: 500px) {

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
display: none;
}

header {
    display: flex;
    background-color: #f9f9f9;
    height: 4em;
}

.logo {
    position: relative;
    left: 5em;
    margin-top: .5em;
}

.navbar {
   position: relative;
   left: 7em;
   margin-top: 1.5em;
}
.register-login {
    position: relative;
    left: 16em;
    margin-top: 1.5em;
}

.navbar ul {
    list-style-type: none;
}

header li {
    float: left;
    list-style: none;
}

header a {
    padding: 2em;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #b8b4b4;
}

.home:hover {
    color: #089285;
}
.about:hover {
    color: #089285;
}
.faq:hover {
    color: #089285;
}
.blog:hover {
    color: #089285;
}
.contact:hover {
    color: #089285;
}
.register:hover {
    color: #089285;
}
.login:hover {
    color: #089285;
}

h1 {
    font-size: 2.313em;
    margin-top: 1em;
}
h2{
    font-size: 1.750em;
}

.container {
    margin-left: 6em;
}
p {
    display: table;
    position: relative;
    bottom: 20em;
    left: 10em;
    margin:auto;
    font-size: 1em;
    width: 40em;
}

button {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}

.prices {
    position: relative;
    bottom: 20em;
    left: 11em ;
}

.amazon{
    position: relative;
    right: .5em;
}
.price-a {
    position: relative;
    right: .5em;
}
.ebay {
    position: relative;
    left: 2.3em;
}
.price-e {
    position: relative;
    left: 1.8em;
}

.main img {
    position: relative;
    right: 5em;

}

.social-icons {
    position: relative;
    right: 20.4em;
    bottom: 17em;
}
.icons-text {
    margin-bottom: 0.313em;
}
}